<img src="./assets/img/aac.jpg" class="img-fluid" alt="" style="height: 500px; width: 1500px" />


<!-- Contact Start -->
<div class="contact">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div class="contact-info">
          <h2 style="font-size: 30px;margin-bottom: 16px;color: #ff7315;text-align: center">Our Store</h2>
          <h3 style="color: #2c3038"><i class="fa fa-map-marker"></i>105 Phạm Như Xương - Hòa Khánh Nam - Liên Chiểu
            Đà Nẵng</h3>
          <h3 style="color: #2c3038"><i class="fa fa-envelope"></i>sunriseshop2020@gmail.com</h3>
          <h3 style="color: #2c3038"><i class="fa fa-phone"></i>+1 078 4589 2456</h3>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook-f"></i></a>
            <a href=""><i class="fa fa-linkedin-in"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-youtube"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-info">
          <h2 style="font-size: 30px;margin-bottom: 16px;color: #ff7315;text-align: center">Our Store</h2>
          <h3 style="color: #2c3038"><i class="fa fa-map-marker"></i>123 Nguyễn Văn Ninh - Hoàng Mai - Hà Nội</h3>
          <h3 style="color: #2c3038"><i class="fa fa-envelope"></i>sunriseshop2020@gmail.com</h3>
          <h3 style="color: #2c3038"><i class="fa fa-phone"></i>+1 078 4589 2456</h3>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook-f"></i></a>
            <a href=""><i class="fa fa-linkedin-in"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-youtube"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-info">
          <h2 style="font-size: 30px;margin-bottom: 16px;color: #ff7315;text-align: center">Our Store</h2>
          <h3 style="color: #2c3038"><i class="fa fa-map-marker"></i>263 Thanh Đào - Quận Phú Nhuận - HCM</h3>
          <h3 style="color: #2c3038"><i class="fa fa-envelope"></i>sunriseshop2020@gmail.com</h3>
          <h3 style="color: #2c3038"><i class="fa fa-phone"></i>+1 078 4589 2456</h3>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook-f"></i></a>
            <a href=""><i class="fa fa-linkedin-in"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<img src="./assets/img/banner4.jpg" style="height: 500px; width: 1469px">


<!-- Contact End -->


<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <h3>Download Our App</h3>
        <p>Download App for Android and ios mobile phone</p>
        <div class="app-logo">
          <img src="./assets/img/play-store.png">
          <img src="./assets/img/app-store.png">
        </div>
      </div>
      <div class="footer-col-2">
        <img src="./assets/img/logo-white.png">
        <p>Our Purpose Is To Sustainably Make the Pleasure and
          Benefits of Sports Accessible to the Many</p>
      </div>
      <div class="footer-col-3">
        <h3>Useful Links</h3>
        <ul>
          <li>Coupons</li>
          <li>Blog Post</li>
          <li>Return Policy</li>
          <li>Join Affiliate</li>
        </ul>
      </div>
      <div class="footer-col-4">
        <h3>Follow us</h3>
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Instagram</li>
          <li>Youtube </li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="Copyright">Copyright 2020 - By SunriseTeam</p>
  </div>
</div>

