<br />
<div class="container" *ngIf="productList.length > 0">
  <div class="row">
    <!-- List of Products -->
    <div class="col-sm-2" *ngFor="let data of productList">
      <div class="item">
        <div class="mb-r">
          <!--Card-->
          <div class="card card-cascade wider">
            <!--Card image-->
            <a [routerLink]="['/products/product', data.id]">
              <div class="view overlay hm-white-slight" >
                <img
                  [src]="'http://localhost:8090/api/product/getimage/'+data.images + '.jpg'"
                  class="img-fluid"
                  alt=""
                />
                <a>
                  <div
                    class="mask waves-effect waves-light"
                    mdbRippleRadius
                  ></div>
                </a>
              </div>
            </a>

            <!--/.Card image-->

            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <a class="text-muted">
                <h5>{{ data.category_id }}</h5>
              </a>
              <h5 class="card-title">
                <strong>
                  <a [routerLink]="['/products/product']">
                    {{data.name}}</a>
                </strong>
              </h5>


              <!--Card footer-->
              <div class="card-footer">
                <span class="left">$ {{ data.price }}</span>
                <span class="right">
                  <a
                    placement="top"
                    mdbTooltip="Quick Look"
                    container="body"
                    [routerLink]="['/products/product', data.id]">
                    <i class="fa fa-eye"></i>
                  </a>
                  <a
                    placement="top"
                    mdbTooltip="Remove Product"
                    container="body"
                    (click)="removeFavourite(data)"
                  >
                    <i class="fa fa-trash"></i>
                  </a>
                </span>
              </div>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="productList.length === 0">
  <app-no-products-found
    [title]="messageTitle"
    [description]="messageDescription"
  ></app-no-products-found>
</div>
