<img src="./assets/img/aab.jpg" class="img-fluid" alt="" style="height: 500px; width: 1500px" />
<!-- contacts -->

<!-- mail -->
<div class="mail">
  <div class="container">
    <div class="agile_mail_grids">
      <div class="col-md-5 contact-left">
        <h4>Address</h4>
        <p><span>105 Phạm Như Xương, Hòa Khánh Nam, Liên Chiểu
          Đà Nẵng</span></p>

        <ul>
          <li>Free Phone :+1 078 4589 2456</li>
          <li>Telephone :+1 078 4589 2456</li>
          <li>Fax :+1 078 4589 2456</li>
          <li><a href="mailto:sunriseshop2020@gmail.com">sunriseshop2020@gmail.com</a></li>
        </ul>
      </div>
      <div class="col-md-7 contact-right">
        <h4>Contact Form</h4>
        <form action="#" method="post">
          <input type="text" name="Name" placeholder="Your Name" required="">
          <input type="email" name="Email" placeholder="Your Email" required="">
          <input type="text" name="Telephone" placeholder="Telephone No" required="">
          <textarea name="message" placeholder="Message..." required=""></textarea>
          <input type="submit" value="Submit" >
        </form>
      </div>
      <div class="clearfix"> </div>
    </div>

    <div class="contact-bottom">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.0293498803753!2d108.1509029146841!3d16.063966688884204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142192f35d68bef%3A0x6342cbd1ad968776!2zUGjhuqFtIE5oxrAgWMawxqFuZw!5e0!3m2!1svi!2s!4v1603906333145!5m2!1svi!2s"
        frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
<!-- //mail -->
<br/><br/><br/><br/>
<!-- //contacts -->



<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <h3>Download Our App</h3>
        <p>Download App for Android and ios mobile phone</p>
        <div class="app-logo">
          <img src="./assets/img/play-store.png">
          <img src="./assets/img/app-store.png">
        </div>
      </div>
      <div class="footer-col-2">
        <img src="./assets/img/logo-white.png">
        <p>Our Purpose Is To Sustainably Make the Pleasure and
          Benefits of Sports Accessible to the Many</p>
      </div>
      <div class="footer-col-3">
        <h3>Useful Links</h3>
        <ul>
          <li>Coupons</li>
          <li>Blog Post</li>
          <li>Return Policy</li>
          <li>Join Affiliate</li>
        </ul>
      </div>
      <div class="footer-col-4">
        <h3>Follow us</h3>
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Instagram</li>
          <li>Youtube </li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="Copyright">Copyright 2020 - By SunriseTeam</p>
  </div>
</div>

